In [1]:
import scipy as sp
import numpy as np
import pandas as pd
import timeit
import re
import json
import pickle
import fastparquet
import os
os.chdir('/mnt/t48/bighomes-active/sfeng/patentdiffusion/')
seed = 3
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
import datetime
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.iolib.summary2 as summary2

/homedir/eco/sfeng/bigdata/python/miniconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [26]:
jr = pd.read_csv("DataStore/2018-07-P3/JTHReg0727/JTH_res_out_0726.csv",index_col=0)
rr = pd.read_csv("DataStore/2018-07-P2/Reg0726/reg_pairs_out_0726.csv",index_col=0)
rr["samp"] = rr["samp"].apply(eval)
rr = pd.concat([jr,rr],axis=0)
# Reset index
rr = rr.reset_index(drop=True)
rr = rr.replace("C(inv_msa_match)[T.True]", "$I(MSA \, Match)$")

In [3]:
rr.columns

Index(['1975-85', '1985-95', '1995-05', '2005-15', 'LKS', 'Model', 'Model Num',
       'index', 'samp'],
      dtype='object')

In [27]:
rr["id"] = list(zip(rr["samp"], rr["Model Num"]))
rr["id"] = rr["id"].astype(str)

# KS dict
ksd = rr[["id", "LKS"]].drop_duplicates()
ksd = dict(zip(ksd["id"], ksd["LKS"]))

# Sample dict
sd = rr[["id", "samp"]].drop_duplicates()
sd = dict(zip(sd["id"], sd["samp"]))

In [5]:
rr.head()

,1975-85,1985-95,1995-05,2005-15,LKS,Model,Model Num,index,samp,id
0,0.0530***,0.0624***,0.0646***,0.0740***,perc_match_10,"Perc Match Targ MSA, Year FE",0,"$I(MSA \, Match)$",JTH Rep,"('JTH Rep', 0)"
1,(0.0016),(0.0011),(0.0009),(0.0012),perc_match_10,"Perc Match Targ MSA, Year FE",0,NaN,JTH Rep,"('JTH Rep', 0)"
2,58647,107358,185154,154619,perc_match_10,"Perc Match Targ MSA, Year FE",0,$N$,JTH Rep,"('JTH Rep', 0)"
3,0.02,0.03,0.03,0.02,perc_match_10,"Perc Match Targ MSA, Year FE",0,Adjusted $R^2$,JTH Rep,"('JTH Rep', 0)"
4,0.0523***,0.0616***,0.0642***,0.0729***,perc_match_10,"Perc Match Targ MSA, PC FE",1,"$I(MSA \, Match)$",JTH Rep,"('JTH Rep', 1)"

### 1. Results with Year FE and PC Controls

- 4 tables: Norm DV, Norm LDA Vecs, Raw DV, Raw LDA Vecs


Samp    | Norm DV/LDA | Raw DV/LDA 
---------|---------|---------
JTH Rep | 2, 3 | 0,1 
JTH Targ Sim | 6,7 |4,5 
Naics Name | 8,10 | 0,2 
PC | 8,10 | 0,2 |

In [69]:
repl1 = pickle.load(open("DataStore/2018-07-P3/reg_names_dict.pkl", "rb"))
repl2 = {k: "\multicolumn{2}{c}{"+v+"}" if len(v)>1 else v for k,v in repl1.items() }

In [70]:
tab_ind = {}

tab_ind["norm", "ldavecs"] = [str(i) for i in [("JTH Rep", 2),("JTH Rep", 3), ("JTH Targ Sim", 2), ("JTH Targ Sim", 3),
       (("ldavecs", "naics_name"), 8), (("ldavecs", "naics_name"), 10), (("ldavecs", "primclass"), 8),
       (("ldavecs", "primclass"), 10)]]
tab_ind["raw", "ldavecs"] = [str(i) for i in [("JTH Rep", 0),("JTH Rep", 1), ("JTH Targ Sim", 0), ("JTH Targ Sim", 1),
       (("ldavecs", "naics_name"), 0), (("ldavecs", "naics_name"), 2), (("ldavecs", "primclass"), 0),
       (("ldavecs", "primclass"), 2)]]
tab_ind["norm", "docvecs"] = [str(i) for i in [("JTH Rep", 2),("JTH Rep", 3), ("JTH Targ Sim", 6), ("JTH Targ Sim", 7),
       (("docvecs", "naics_name"), 8), (("docvecs", "naics_name"), 10), (("docvecs", "primclass"), 8),
       (("docvecs", "primclass"), 10)]]
tab_ind["raw", "docvecs"] = [str(i) for i in [("JTH Rep", 0),("JTH Rep", 1), ("JTH Targ Sim", 4), ("JTH Targ Sim", 5),
       (("docvecs", "naics_name"), 0), (("docvecs", "naics_name"), 2), (("docvecs", "primclass"), 0),
       (("docvecs", "primclass"), 2)]]

In [71]:
v = "norm"
dm = "docvecs"
ygs = ["1975-85", "1985-95", "1995-05", "2005-15"]
tabp = {}
tabl = {}
for v,dm in tab_ind.keys():
    for yg in ygs:
        rr_t = rr.loc[rr["id"].isin(tab_ind[v,dm])]
        rg = rr_t[[yg, "index", "id"]].groupby("id")
        tab = pd.concat([g[[yg, "index"]].set_index("index") for n,g in rg], axis=1)
        
        # Add other columns
        tab.loc["Year FE"] = [True]*len(tab.columns)
        tab.loc["PC FE"] = [False, True, False, True, False, True, False, True]

        # Save index
        ind_ord = tab.index.tolist()

        # Add KS, Sample rows, Model Numbers
        KS = [str(ksd[i]) for i in rg.groups.keys()]
        KS[1::2] = [np.nan]*len(KS[1::2])
        tab.loc["Spillover"] = KS
        Sample = [str(sd[i]) for i in rg.groups.keys()]
        Sample[1::2] = [np.nan]*len(Sample[1::2])
        tab.loc["Sample"] = Sample
        tab.loc["Model"] = ["({0})".format(i+1) for i in range(len(tab.columns))]
        # Reorder
        tab = tab.reindex(["Sample", "Spillover", "Model"]+ind_ord).reset_index()
        # Create gaps
        tab = tab.fillna("")
        tab.columns = [""]*len(tab.columns)
        
        # Pandas tables
        tab1 = tab.replace(repl1)
        tabp[v,dm,yg] = tab1
        
        # Latex tables
        tab2 = tab.replace(repl2)
        tabl[v,dm,yg] = tab2

In [72]:
for k,v in tabp.items():
    print(k)
    display(v)

('norm', 'ldavecs', '1975-85')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{LDA}(T,j)}$",,"$sim_{LDA}(i,j)$",,"$sim_{LDA}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.2448***,0.2416***,0.0033,-0.0008,0.0465***,0.0313***,0.0566***,0.0423***
4,,(0.0074),(0.0073),(0.0139),(0.0135),(0.0050),(0.0052),(0.0057),(0.0062)
5,$N$,58647,58647,38541,38541,193173,193173,171099,171099
6,Adjusted $R^2$,0.02,0.03,0.00,0.11,0.11,0.00,0.18,0.00
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

('norm', 'ldavecs', '1985-95')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{LDA}(T,j)}$",,"$sim_{LDA}(i,j)$",,"$sim_{LDA}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.2881***,0.2846***,0.0280***,0.0057,0.0621***,0.0535***,0.0647***,0.0516***
4,,(0.0052),(0.0051),(0.0094),(0.0091),(0.0041),(0.0043),(0.0045),(0.0050)
5,$N$,107358,107358,69612,69612,281625,281625,252478,252478
6,Adjusted $R^2$,0.03,0.05,0.00,0.10,0.10,0.00,0.18,0.00
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

('norm', 'ldavecs', '1995-05')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{LDA}(T,j)}$",,"$sim_{LDA}(i,j)$",,"$sim_{LDA}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.2983***,0.2966***,0.0017,-0.0123*,0.0980***,0.0987***,0.0626***,0.0723***
4,,(0.0041),(0.0041),(0.0068),(0.0065),(0.0033),(0.0035),(0.0035),(0.0039)
5,$N$,185154,185154,122217,122217,438317,438317,402006,402006
6,Adjusted $R^2$,0.03,0.05,0.00,0.11,0.12,0.00,0.20,0.00
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

('norm', 'ldavecs', '2005-15')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{LDA}(T,j)}$",,"$sim_{LDA}(i,j)$",,"$sim_{LDA}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.3417***,0.3365***,0.0173,-0.0003,0.0804***,0.0921***,0.0433***,0.0629***
4,,(0.0054),(0.0054),(0.0111),(0.0107),(0.0030),(0.0032),(0.0031),(0.0034)
5,$N$,154619,154619,52710,52710,570099,570099,530245,530245
6,Adjusted $R^2$,0.02,0.05,0.00,0.12,0.15,0.00,0.20,0.00
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

('raw', 'ldavecs', '1975-85')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{LDA}(T,j)}$",,"$sim_{LDA}(i,j)$",,"$sim_{LDA}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.0530***,0.0523***,0.0542***,0.0534***,0.0069***,0.0103***,0.0104***,0.0139***
4,,(0.0016),(0.0016),(0.0030),(0.0029),(0.0012),(0.0011),(0.0015),(0.0014)
5,$N$,58647,58647,38541,38541,193173,193173,171099,171099
6,Adjusted $R^2$,0.02,0.03,0.01,0.12,0.00,0.11,0.00,0.18
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

('raw', 'ldavecs', '1985-95')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{LDA}(T,j)}$",,"$sim_{LDA}(i,j)$",,"$sim_{LDA}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.0624***,0.0616***,0.0570***,0.0526***,0.0119***,0.0138***,0.0126***,0.0158***
4,,(0.0011),(0.0011),(0.0020),(0.0020),(0.0009),(0.0009),(0.0012),(0.0011)
5,$N$,107358,107358,69612,69612,281625,281625,252478,252478
6,Adjusted $R^2$,0.03,0.05,0.01,0.11,0.00,0.10,0.00,0.18
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

('raw', 'ldavecs', '1995-05')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{LDA}(T,j)}$",,"$sim_{LDA}(i,j)$",,"$sim_{LDA}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.0646***,0.0642***,0.0486***,0.0459***,0.0219***,0.0217***,0.0177***,0.0153***
4,,(0.0009),(0.0009),(0.0015),(0.0014),(0.0008),(0.0007),(0.0010),(0.0009)
5,$N$,185154,185154,122217,122217,438317,438317,402006,402006
6,Adjusted $R^2$,0.03,0.05,0.01,0.12,0.00,0.12,0.00,0.20
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

('raw', 'ldavecs', '2005-15')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{LDA}(T,j)}$",,"$sim_{LDA}(i,j)$",,"$sim_{LDA}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.0740***,0.0729***,0.0502***,0.0468***,0.0204***,0.0178***,0.0154***,0.0106***
4,,(0.0012),(0.0012),(0.0024),(0.0023),(0.0007),(0.0007),(0.0008),(0.0007)
5,$N$,154619,154619,52710,52710,570099,570099,530245,530245
6,Adjusted $R^2$,0.02,0.05,0.01,0.13,0.00,0.15,0.00,0.20
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

('norm', 'docvecs', '1975-85')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{DV}(T,j)}$",,"$sim_{DV}(i,j)$",,"$sim_{DV}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.2448***,0.2416***,0.0469***,0.0444***,0.0323***,0.0185***,0.0527***,0.0486***
4,,(0.0074),(0.0073),(0.0145),(0.0145),(0.0053),(0.0054),(0.0064),(0.0066)
5,$N$,58647,58647,38541,38541,192841,192841,170882,170882
6,Adjusted $R^2$,0.02,0.03,0.00,0.03,0.07,0.00,0.07,0.00
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

('norm', 'docvecs', '1985-95')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{DV}(T,j)}$",,"$sim_{DV}(i,j)$",,"$sim_{DV}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.2881***,0.2846***,0.0154,0.0158,0.0605***,0.0521***,0.0798***,0.0781***
4,,(0.0052),(0.0051),(0.0097),(0.0097),(0.0043),(0.0044),(0.0050),(0.0052)
5,$N$,107358,107358,69612,69612,281222,281222,252174,252174
6,Adjusted $R^2$,0.03,0.05,0.00,0.03,0.07,0.00,0.07,0.00
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

('norm', 'docvecs', '1995-05')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{DV}(T,j)}$",,"$sim_{DV}(i,j)$",,"$sim_{DV}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.2983***,0.2966***,-0.0047,0.0064,0.0610***,0.0576***,0.0787***,0.0836***
4,,(0.0041),(0.0041),(0.0067),(0.0066),(0.0034),(0.0035),(0.0038),(0.0039)
5,$N$,185154,185154,122217,122217,437685,437685,401623,401623
6,Adjusted $R^2$,0.03,0.05,0.00,0.04,0.08,0.00,0.08,0.00
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

('norm', 'docvecs', '2005-15')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{DV}(T,j)}$",,"$sim_{DV}(i,j)$",,"$sim_{DV}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.3417***,0.3365***,0.0157,0.0178*,0.0571***,0.0562***,0.0573***,0.0600***
4,,(0.0054),(0.0054),(0.0108),(0.0108),(0.0030),(0.0031),(0.0032),(0.0033)
5,$N$,154619,154619,52710,52710,569252,569252,529686,529686
6,Adjusted $R^2$,0.02,0.05,0.00,0.04,0.06,0.00,0.07,0.00
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

('raw', 'docvecs', '1975-85')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{DV}(T,j)}$",,"$sim_{DV}(i,j)$",,"$sim_{DV}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.0530***,0.0523***,0.0543***,0.0540***,0.0025***,0.0044***,0.0067***,0.0073***
4,,(0.0016),(0.0016),(0.0021),(0.0021),(0.0007),(0.0007),(0.0009),(0.0009)
5,$N$,58647,58647,38541,38541,192841,192841,170882,170882
6,Adjusted $R^2$,0.02,0.03,0.02,0.05,0.00,0.07,0.00,0.07
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

('raw', 'docvecs', '1985-95')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{DV}(T,j)}$",,"$sim_{DV}(i,j)$",,"$sim_{DV}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.0624***,0.0616***,0.0468***,0.0469***,0.0070***,0.0082***,0.0108***,0.0111***
4,,(0.0011),(0.0011),(0.0014),(0.0014),(0.0006),(0.0006),(0.0007),(0.0007)
5,$N$,107358,107358,69612,69612,281222,281222,252174,252174
6,Adjusted $R^2$,0.03,0.05,0.02,0.05,0.00,0.07,0.00,0.07
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

('raw', 'docvecs', '1995-05')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{DV}(T,j)}$",,"$sim_{DV}(i,j)$",,"$sim_{DV}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.0646***,0.0642***,0.0408***,0.0422***,0.0078***,0.0082***,0.0116***,0.0109***
4,,(0.0009),(0.0009),(0.0010),(0.0010),(0.0005),(0.0005),(0.0005),(0.0005)
5,$N$,185154,185154,122217,122217,437685,437685,401623,401623
6,Adjusted $R^2$,0.03,0.05,0.02,0.06,0.00,0.08,0.00,0.08
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

('raw', 'docvecs', '2005-15')

,,,,,,,,,
0,Sample,JTH Cite,,JTH Cite Sim,,NAICS,,Primclass,
1,Spillover,"$pct\,cites\,in\,MSA_{T}$",,"$\overline{sim_{DV}(T,j)}$",,"$sim_{DV}(i,j)$",,"$sim_{DV}(i,j)$",
2,,(1),(2),(3),(4),(5),(6),(7),(8)
3,"$I(MSA \, Match)$",0.0740***,0.0729***,0.0420***,0.0423***,0.0076***,0.0077***,0.0083***,0.0079***
4,,(0.0012),(0.0012),(0.0016),(0.0015),(0.0004),(0.0004),(0.0005),(0.0004)
5,$N$,154619,154619,52710,52710,569252,569252,529686,529686
6,Adjusted $R^2$,0.02,0.05,0.02,0.05,0.00,0.06,0.00,0.07
7,Year FE,True,True,True,True,True,True,True,True
8,PC FE,False,True,False,True,False,True,False,True

In [74]:
def conv_latex(l, title, ncols = 8):
    l = ' '.join(l.split())
    l = l.replace("\\toprule \\\ \\midrule ",\
                  "\\toprule \multicolumn{"+str(ncols)+"}{c}{"+title+"} \\\ \hline ")
    l = l.replace(" & &", " & ")
    l = l.replace(" & \\\ ", " \\\ ")
    l = l.replace("(8) \\", "(8) \\\ \midrule  ")
    return l

for k,v in tabl.items():
    print("\n"+str(k)+"\n"+"\n")
    ncols = len(v.columns)
    with pd.option_context("max_colwidth", 1000):
        print(conv_latex(v.to_latex(index=False,escape=False, column_format="lcccccccc"),
                        title=k[-1],
                        ncols=ncols))

('norm', 'ldavecs', '1975-85')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{1975-85} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{LDA}(T,j)}$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.2448*** & 0.2416*** & 0.0033 & -0.0008 & 0.0465*** & 0.0313*** & 0.0566*** & 0.0423*** \\ & (0.0074) & (0.0073) & (0.0139) & (0.0135) & (0.0050) & (0.0052) & (0.0057) & (0.0062) \\ $N$ & 58647 & 58647 & 38541 & 38541 & 193173 & 193173 & 171099 & 171099 \\ Adjusted $R^2$ & 0.02 & 0.03 & 0.00 & 0.11 & 0.11 & 0.00 & 0.18 & 0.00 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

('norm', 'ldavecs', '1985-95')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{1985-95} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{LDA}(T,j)}$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.2881*** & 0.2846*** & 0.0280*** & 0.0057 & 0.0621*** & 0.0535*** & 0.0647*** & 0.0516*** \\ & (0.0052) & (0.0051) & (0.0094) & (0.0091) & (0.0041) & (0.0043) & (0.0045) & (0.0050) \\ $N$ & 107358 & 107358 & 69612 & 69612 & 281625 & 281625 & 252478 & 252478 \\ Adjusted $R^2$ & 0.03 & 0.05 & 0.00 & 0.10 & 0.10 & 0.00 & 0.18 & 0.00 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

('norm', 'ldavecs', '1995-05')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{1995-05} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{LDA}(T,j)}$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.2983*** & 0.2966*** & 0.0017 & -0.0123* & 0.0980*** & 0.0987*** & 0.0626*** & 0.0723*** \\ & (0.0041) & (0.0041) & (0.0068) & (0.0065) & (0.0033) & (0.0035) & (0.0035) & (0.0039) \\ $N$ & 185154 & 185154 & 122217 & 122217 & 438317 & 438317 & 402006 & 402006 \\ Adjusted $R^2$ & 0.03 & 0.05 & 0.00 & 0.11 & 0.12 & 0.00 & 0.20 & 0.00 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

('norm', 'ldavecs', '2005-15')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{2005-15} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{LDA}(T,j)}$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.3417*** & 0.3365*** & 0.0173 & -0.0003 & 0.0804*** & 0.0921*** & 0.0433*** & 0.0629*** \\ & (0.0054) & (0.0054) & (0.0111) & (0.0107) & (0.0030) & (0.0032) & (0.0031) & (0.0034) \\ $N$ & 154619 & 154619 & 52710 & 52710 & 570099 & 570099 & 530245 & 530245 \\ Adjusted $R^2$ & 0.02 & 0.05 & 0.00 & 0.12 & 0.15 & 0.00 & 0.20 & 0.00 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

('raw', 'ldavecs', '1975-85')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{1975-85} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{LDA}(T,j)}$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.0530*** & 0.0523*** & 0.0542*** & 0.0534*** & 0.0069*** & 0.0103*** & 0.0104*** & 0.0139*** \\ & (0.0016) & (0.0016) & (0.0030) & (0.0029) & (0.0012) & (0.0011) & (0.0015) & (0.0014) \\ $N$ & 58647 & 58647 & 38541 & 38541 & 193173 & 193173 & 171099 & 171099 \\ Adjusted $R^2$ & 0.02 & 0.03 & 0.01 & 0.12 & 0.00 & 0.11 & 0.00 & 0.18 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

('raw', 'ldavecs', '1985-95')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{1985-95} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{LDA}(T,j)}$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.0624*** & 0.0616*** & 0.0570*** & 0.0526*** & 0.0119*** & 0.0138*** & 0.0126*** & 0.0158*** \\ & (0.0011) & (0.0011) & (0.0020) & (0.0020) & (0.0009) & (0.0009) & (0.0012) & (0.0011) \\ $N$ & 107358 & 107358 & 69612 & 69612 & 281625 & 281625 & 252478 & 252478 \\ Adjusted $R^2$ & 0.03 & 0.05 & 0.01 & 0.11 & 0.00 & 0.10 & 0.00 & 0.18 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

('raw', 'ldavecs', '1995-05')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{1995-05} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{LDA}(T,j)}$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.0646*** & 0.0642*** & 0.0486*** & 0.0459*** & 0.0219*** & 0.0217*** & 0.0177*** & 0.0153*** \\ & (0.0009) & (0.0009) & (0.0015) & (0.0014) & (0.0008) & (0.0007) & (0.0010) & (0.0009) \\ $N$ & 185154 & 185154 & 122217 & 122217 & 438317 & 438317 & 402006 & 402006 \\ Adjusted $R^2$ & 0.03 & 0.05 & 0.01 & 0.12 & 0.00 & 0.12 & 0.00 & 0.20 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

('raw', 'ldavecs', '2005-15')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{2005-15} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{LDA}(T,j)}$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} &  \multicolumn{2}{c}{$sim_{LDA}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.0740*** & 0.0729*** & 0.0502*** & 0.0468*** & 0.0204*** & 0.0178*** & 0.0154*** & 0.0106*** \\ & (0.0012) & (0.0012) & (0.0024) & (0.0023) & (0.0007) & (0.0007) & (0.0008) & (0.0007) \\ $N$ & 154619 & 154619 & 52710 & 52710 & 570099 & 570099 & 530245 & 530245 \\ Adjusted $R^2$ & 0.02 & 0.05 & 0.01 & 0.13 & 0.00 & 0.15 & 0.00 & 0.20 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

('norm', 'docvecs', '1975-85')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{1975-85} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{DV}(T,j)}$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.2448*** & 0.2416*** & 0.0469*** & 0.0444*** & 0.0323*** & 0.0185*** & 0.0527*** & 0.0486*** \\ & (0.0074) & (0.0073) & (0.0145) & (0.0145) & (0.0053) & (0.0054) & (0.0064) & (0.0066) \\ $N$ & 58647 & 58647 & 38541 & 38541 & 192841 & 192841 & 170882 & 170882 \\ Adjusted $R^2$ & 0.02 & 0.03 & 0.00 & 0.03 & 0.07 & 0.00 & 0.07 & 0.00 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

('norm', 'docvecs', '1985-95')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{1985-95} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{DV}(T,j)}$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.2881*** & 0.2846*** & 0.0154 & 0.0158 & 0.0605*** & 0.0521*** & 0.0798*** & 0.0781*** \\ & (0.0052) & (0.0051) & (0.0097) & (0.0097) & (0.0043) & (0.0044) & (0.0050) & (0.0052) \\ $N$ & 107358 & 107358 & 69612 & 69612 & 281222 & 281222 & 252174 & 252174 \\ Adjusted $R^2$ & 0.03 & 0.05 & 0.00 & 0.03 & 0.07 & 0.00 & 0.07 & 0.00 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

('norm', 'docvecs', '1995-05')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{1995-05} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{DV}(T,j)}$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.2983*** & 0.2966*** & -0.0047 & 0.0064 & 0.0610*** & 0.0576*** & 0.0787*** & 0.0836*** \\ & (0.0041) & (0.0041) & (0.0067) & (0.0066) & (0.0034) & (0.0035) & (0.0038) & (0.0039) \\ $N$ & 185154 & 185154 & 122217 & 122217 & 437685 & 437685 & 401623 & 401623 \\ Adjusted $R^2$ & 0.03 & 0.05 & 0.00 & 0.04 & 0.08 & 0.00 & 0.08 & 0.00 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

('norm', 'docvecs', '2005-15')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{2005-15} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{DV}(T,j)}$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.3417*** & 0.3365*** & 0.0157 & 0.0178* & 0.0571*** & 0.0562*** & 0.0573*** & 0.0600*** \\ & (0.0054) & (0.0054) & (0.0108) & (0.0108) & (0.0030) & (0.0031) & (0.0032) & (0.0033) \\ $N$ & 154619 & 154619 & 52710 & 52710 & 569252 & 569252 & 529686 & 529686 \\ Adjusted $R^2$ & 0.02 & 0.05 & 0.00 & 0.04 & 0.06 & 0.00 & 0.07 & 0.00 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

('raw', 'docvecs', '1975-85')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{1975-85} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{DV}(T,j)}$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.0530*** & 0.0523*** & 0.0543*** & 0.0540*** & 0.0025*** & 0.0044*** & 0.0067*** & 0.0073*** \\ & (0.0016) & (0.0016) & (0.0021) & (0.0021) & (0.0007) & (0.0007) & (0.0009) & (0.0009) \\ $N$ & 58647 & 58647 & 38541 & 38541 & 192841 & 192841 & 170882 & 170882 \\ Adjusted $R^2$ & 0.02 & 0.03 & 0.02 & 0.05 & 0.00 & 0.07 & 0.00 & 0.07 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

('raw', 'docvecs', '1985-95')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{1985-95} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{DV}(T,j)}$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.0624*** & 0.0616*** & 0.0468*** & 0.0469*** & 0.0070*** & 0.0082*** & 0.0108*** & 0.0111*** \\ & (0.0011) & (0.0011) & (0.0014) & (0.0014) & (0.0006) & (0.0006) & (0.0007) & (0.0007) \\ $N$ & 107358 & 107358 & 69612 & 69612 & 281222 & 281222 & 252174 & 252174 \\ Adjusted $R^2$ & 0.03 & 0.05 & 0.02 & 0.05 & 0.00 & 0.07 & 0.00 & 0.07 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

('raw', 'docvecs', '1995-05')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{1995-05} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{DV}(T,j)}$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.0646*** & 0.0642*** & 0.0408*** & 0.0422*** & 0.0078*** & 0.0082*** & 0.0116*** & 0.0109*** \\ & (0.0009) & (0.0009) & (0.0010) & (0.0010) & (0.0005) & (0.0005) & (0.0005) & (0.0005) \\ $N$ & 185154 & 185154 & 122217 & 122217 & 437685 & 437685 & 401623 & 401623 \\ Adjusted $R^2$ & 0.03 & 0.05 & 0.02 & 0.06 & 0.00 & 0.08 & 0.00 & 0.08 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

('raw', 'docvecs', '2005-15')


\begin{tabular}{lcccccccc} \toprule \multicolumn{9}{c}{2005-15} \\ \hline Sample & \multicolumn{2}{c}{JTH Cite} &  \multicolumn{2}{c}{JTH Cite Sim} &  \multicolumn{2}{c}{NAICS} &  \multicolumn{2}{c}{Primclass} \\ Spillover & \multicolumn{2}{c}{$pct\,cites\,in\,MSA_{T}$} &  \multicolumn{2}{c}{$\overline{sim_{DV}(T,j)}$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} &  \multicolumn{2}{c}{$sim_{DV}(i,j)$} \\ & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) \\ \midrule  \ $I(MSA \, Match)$ & 0.0740*** & 0.0729*** & 0.0420*** & 0.0423*** & 0.0076*** & 0.0077*** & 0.0083*** & 0.0079*** \\ & (0.0012) & (0.0012) & (0.0016) & (0.0015) & (0.0004) & (0.0004) & (0.0005) & (0.0004) \\ $N$ & 154619 & 154619 & 52710 & 52710 & 569252 & 569252 & 529686 & 529686 \\ Adjusted $R^2$ & 0.02 & 0.05 & 0.02 & 0.05 & 0.00 & 0.06 & 0.00 & 0.07 \\ Year FE & True & True & True & True & True & True & True & True \\ PC FE & False & True & False & True & False & True & False & True \\ \bottomrule \end{tabular}

### 2. NAICS Results with Field Sim

- 4 tables for each vectorization: Norm FE, Norm No FE, Raw FE, Raw No FE


Samp    | Norm FE | Norm No FE | Raw FE | Raw No FE
---------|---------|---------|---------|---------
NAICS MSA | 24 | 11 | 19 | 3
PC | 25 | 12 | 20 |4
PC Int | 27 | 14 | 22 | 6
PC MSA | 26 | 13 | 21 | 5
PC MSA Int | 28 | 15 | 23 |7

In [77]:
repl1 = pickle.load(open("DataStore/2018-07-P3/reg_names_dict.pkl", "rb"))
repl2 = {k: "\multicolumn{2}{c}{"+v+"}" if len(v)>1 else v for k,v in repl1.items() }

tab_ind = {}
# for dm in ["ldavecs", "docvecs"]:
#     nf = [24, 25, 27, 26, 28]
#     tab_ind["norm", dm, "FE"] = ["(('{1}', 'naics_name'), {0})".format(i,dm) for i in nf] 
#     nf = [11,12,14,13,15]
#     tab_ind["norm", dm, "No FE"] = ["(('{1}', 'naics_name'), {0})".format(i,dm) for i in nf]
#     nf = [19,20,22,21,23]
#     tab_ind["raw", dm, "FE"] = ["(('{1}', 'naics_name'), {0})".format(i,dm) for i in nf] 
#     nf = [3,4,6,5,7]
#     tab_ind["raw", dm, "No FE"] = ["(('{1}', 'naics_name'), {0})".format(i,dm) for i in nf] 

for dm in ["ldavecs", "docvecs"]:
    nf = [25, 27, 26, 28]
    tab_ind["norm", dm, "FE"] = ["(('{1}', 'naics_name'), {0})".format(i,dm) for i in nf] 
    nf = [12,14,13,15]
    tab_ind["norm", dm, "No FE"] = ["(('{1}', 'naics_name'), {0})".format(i,dm) for i in nf]
    nf = [20,22,21,23]
    tab_ind["raw", dm, "FE"] = ["(('{1}', 'naics_name'), {0})".format(i,dm) for i in nf] 
    nf = [4,6,5,7]
    tab_ind["raw", dm, "No FE"] = ["(('{1}', 'naics_name'), {0})".format(i,dm) for i in nf] 
# Add names for standard errors
rr2 = rr.copy()
se_index = rr2[[yg, "index"]].loc[rr2["index"].isnull()].index
above_var = rr2.loc[se_index-1, "index"].tolist()
rr2.loc[se_index, "index"] = ["(s.e.) "+v for v in above_var]

In [78]:
v = "norm"
dm = "docvecs"
fe = "FE"
ygs = ["1975-85", "1985-95", "1995-05", "2005-15"]
tabp = {}
tabl = {}
yg = ygs[1]
for v in ["norm", "raw"]:
    for dm in ["docvecs", "ldavecs"]:
        for fe in ["FE", "No FE"]:
            for yg in ygs:
                rr_t = rr2.loc[rr["id"].isin(tab_ind[v,dm,fe])]
                re_ind = rr_t[[yg, "index"]].drop_duplicates("index", keep="first")["index"].tolist()
                # Re-order re-ind
                n_ind = re_ind.index("$N$")
                re_ind = re_ind[:n_ind]+re_ind[n_ind+2:]+re_ind[n_ind:n_ind+2]

                rg = rr_t[[yg, "index", "id"]].groupby("id")

                tab = pd.concat([g[[yg, "index"]].set_index("index").reindex(re_ind) for n,g in rg], axis=1)

                # Add other columns
                tab.loc["Year FE"] = [True]*len(tab.columns)

                if fe == "FE":
#                     tab.loc["NAICS FE"] = [True, False, False, False, False]
#                     tab.loc["PC FE"] = [True, True, True, True, True]
#                     tab.loc["NAICS FE"] = [True, False, False, False, False]
                    tab.loc["PC FE"] = [True, True, True, True]
                else:
#                     tab.loc["NAICS FE"] = [False]*len(tab.columns)
                    tab.loc["PC FE"] = [False]*len(tab.columns)

                # Save index
                ind_ord = tab.index.tolist()
                tab.loc["Model"] = ["({0})".format(i+1) for i in range(len(tab.columns))]
                # Reorder
                tab = tab.reindex(["Model"]+ind_ord).reset_index()
                # Create gaps
                tab = tab.fillna("")
                # Get rid of se labels
                tab.loc[tab["index"].apply(lambda x: "(s.e.)" in x), "index"] = ""

                tabc = tab.copy()
                tab.columns = [""]*len(tab.columns)

                # Pandas tables
                tab1 = tab.replace(repl1)
                tabp[v,dm,fe,yg] = tab1

                # Latex tables
                tab2 = tab.replace(repl2)
                tabl[v,dm,fe,yg] = tab2

In [79]:
for k,v in tabp.items():
    print(k)
    display(v)

('norm', 'docvecs', 'FE', '1975-85')

0                                                       (1)   (2)   (3)   (4)
1                                   $I(MSA \, Match)$
2
3                         $ sim_{DV}(pc_{i}, pc_{j})$
4
5              $sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$
6
7               $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$
8
9   $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$
10
11                                                $N$
12                                     Adjusted $R^2$
13                                            Year FE  True  True  True  True
14                                              PC FE  True  True  True  True

('norm', 'docvecs', 'FE', '1985-95')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0399***,-0.0177***,0.0434***,-0.0169***
2,,(0.0042),(0.0047),(0.0043),(0.0049)
3,"$ sim_{DV}(pc_{i}, pc_{j})$",0.2475***,,0.2408***,
4,,(0.0024),,(0.0026),
5,"$sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.1719***,,0.1698***
6,,,(0.0026),,(0.0033)
7,"$ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$",,,0.0254***,
8,,,,(0.0041),
9,"$ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,,,0.0051
10,,,,,(0.0046)
11,$N$,281018,227029,281018,227029
12,Adjusted $R^2$,0.11,0.09,0.11,0.09
13,Year FE,True,True,True,True
14,PC FE,True,True,True,True

('norm', 'docvecs', 'FE', '1995-05')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0360***,-0.0226***,0.0371***,-0.0228***
2,,(0.0033),(0.0036),(0.0033),(0.0036)
3,"$ sim_{DV}(pc_{i}, pc_{j})$",0.2448***,,0.2377***,
4,,(0.0019),,(0.0021),
5,"$sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.1919***,,0.1905***
6,,,(0.0020),,(0.0024)
7,"$ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$",,,0.0261***,
8,,,,(0.0033),
9,"$ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,,,0.0035
10,,,,,(0.0035)
11,$N$,437485,382972,437485,382972
12,Adjusted $R^2$,0.12,0.11,0.12,0.11
13,Year FE,True,True,True,True
14,PC FE,True,True,True,True

('norm', 'docvecs', 'FE', '2005-15')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0327***,-0.0175***,0.0266***,-0.0228***
2,,(0.0030),(0.0032),(0.0030),(0.0033)
3,"$ sim_{DV}(pc_{i}, pc_{j})$",0.2553***,,0.2481***,
4,,(0.0019),,(0.0021),
5,"$sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.1916***,,0.1870***
6,,,(0.0018),,(0.0021)
7,"$ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$",,,0.0263***,
8,,,,(0.0034),
9,"$ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,,,0.0132***
10,,,,,(0.0032)
11,$N$,569100,516531,569100,516531
12,Adjusted $R^2$,0.09,0.08,0.09,0.08
13,Year FE,True,True,True,True
14,PC FE,True,True,True,True

('norm', 'docvecs', 'No FE', '1975-85')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0263***,-0.0837***,0.0290***,-0.0916***
2,,(0.0071),(0.0081),(0.0076),(0.0085)
3,"$ sim_{DV}(pc_{i}, pc_{j})$",0.2810***,,0.2776***,
4,,(0.0031),,(0.0035),
5,"$sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.2718***,,0.2892***
6,,,(0.0040),,(0.0051)
7,"$ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$",,,0.0141*,
8,,,,(0.0072),
9,"$ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,,,-0.0459***
10,,,,,(0.0082)
11,$N$,102237,80544,102237,80544
12,Adjusted $R^2$,0.09,0.06,0.09,0.06
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

('norm', 'docvecs', 'No FE', '1985-95')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0357***,-0.0609***,0.0393***,-0.0644***
2,,(0.0042),(0.0047),(0.0044),(0.0049)
3,"$ sim_{DV}(pc_{i}, pc_{j})$",0.2733***,,0.2668***,
4,,(0.0018),,(0.0021),
5,"$sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.2573***,,0.2673***
6,,,(0.0023),,(0.0029)
7,"$ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$",,,0.0264***,
8,,,,(0.0042),
9,"$ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,,,-0.0258***
10,,,,,(0.0046)
11,$N$,281018,227029,281018,227029
12,Adjusted $R^2$,0.09,0.06,0.09,0.06
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

('norm', 'docvecs', 'No FE', '1995-05')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0309***,-0.0637***,0.0319***,-0.0616***
2,,(0.0033),(0.0036),(0.0034),(0.0036)
3,"$ sim_{DV}(pc_{i}, pc_{j})$",0.2863***,,0.2798***,
4,,(0.0014),,(0.0017),
5,"$sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.2785***,,0.2875***
6,,,(0.0017),,(0.0021)
7,"$ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$",,,0.0256***,
8,,,,(0.0033),
9,"$ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,,,-0.0255***
10,,,,,(0.0035)
11,$N$,437485,382972,437485,382972
12,Adjusted $R^2$,0.09,0.08,0.09,0.08
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

('norm', 'docvecs', 'No FE', '2005-15')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0276***,-0.0369***,0.0208***,-0.0411***
2,,(0.0030),(0.0032),(0.0030),(0.0033)
3,"$ sim_{DV}(pc_{i}, pc_{j})$",0.2821***,,0.2745***,
4,,(0.0015),,(0.0017),
5,"$sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.2319***,,0.2286***
6,,,(0.0015),,(0.0019)
7,"$ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$",,,0.0294***,
8,,,,(0.0034),
9,"$ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,,,0.0101***
10,,,,,(0.0032)
11,$N$,569100,516531,569100,516531
12,Adjusted $R^2$,0.06,0.05,0.06,0.05
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

('norm', 'ldavecs', 'FE', '1975-85')

0                                                       (1)   (2)   (3)   (4)
1                                   $I(MSA \, Match)$
2
3                        $ sim_{LDA}(pc_{i}, pc_{j})$
4
5             $sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$
6
7              $ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$
8
9   $ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...
10
11                                                $N$
12                                     Adjusted $R^2$
13                                            Year FE  True  True  True  True
14                                              PC FE  True  True  True  True

('norm', 'ldavecs', 'FE', '1985-95')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0274***,-0.0415***,0.0280***,-0.0412***
2,,(0.0038),(0.0042),(0.0039),(0.0042)
3,"$ sim_{LDA}(pc_{i}, pc_{j})$",0.4123***,,0.4094***,
4,,(0.0023),,(0.0026),
5,"$sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.3994***,,0.4221***
6,,,(0.0026),,(0.0031)
7,"$ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$",,,0.0114***,
8,,,,(0.0044),
9,"$ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...",,,,-0.0619***
10,,,,,(0.0047)
11,$N$,281421,227396,281421,227396
12,Adjusted $R^2$,0.21,0.21,0.21,0.21
13,Year FE,True,True,True,True
14,PC FE,True,True,True,True

('norm', 'ldavecs', 'FE', '1995-05')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0535***,-0.0202***,0.0533***,-0.0174***
2,,(0.0031),(0.0033),(0.0031),(0.0032)
3,"$ sim_{LDA}(pc_{i}, pc_{j})$",0.4349***,,0.4286***,
4,,(0.0019),,(0.0021),
5,"$sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.4219***,,0.4366***
6,,,(0.0019),,(0.0023)
7,"$ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$",,,0.0234***,
8,,,,(0.0034),
9,"$ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...",,,,-0.0417***
10,,,,,(0.0035)
11,$N$,438117,383569,438117,383569
12,Adjusted $R^2$,0.24,0.24,0.24,0.25
13,Year FE,True,True,True,True
14,PC FE,True,True,True,True

('norm', 'ldavecs', 'FE', '2005-15')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0356***,-0.0279***,0.0343***,-0.0215***
2,,(0.0028),(0.0029),(0.0027),(0.0028)
3,"$ sim_{LDA}(pc_{i}, pc_{j})$",0.4299***,,0.4274***,
4,,(0.0016),,(0.0018),
5,"$sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.4096***,,0.4197***
6,,,(0.0016),,(0.0019)
7,"$ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$",,,0.0090***,
8,,,,(0.0028),
9,"$ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...",,,,-0.0304***
10,,,,,(0.0028)
11,$N$,569947,517333,569947,517333
12,Adjusted $R^2$,0.26,0.27,0.26,0.27
13,Year FE,True,True,True,True
14,PC FE,True,True,True,True

('norm', 'ldavecs', 'No FE', '1975-85')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0312***,-0.0571***,0.0313***,-0.0603***
2,,(0.0065),(0.0072),(0.0067),(0.0073)
3,"$ sim_{LDA}(pc_{i}, pc_{j})$",0.4546***,,0.4544***,
4,,(0.0033),,(0.0038),
5,"$sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.4814***,,0.5180***
6,,,(0.0040),,(0.0049)
7,"$ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$",,,0.0010,
8,,,,(0.0077),
9,"$ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...",,,,-0.1050***
10,,,,,(0.0084)
11,$N$,102367,80654,102367,80654
12,Adjusted $R^2$,0.19,0.19,0.19,0.19
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

('norm', 'ldavecs', 'No FE', '1985-95')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0240***,-0.0590***,0.0243***,-0.0583***
2,,(0.0038),(0.0042),(0.0039),(0.0042)
3,"$ sim_{LDA}(pc_{i}, pc_{j})$",0.4335***,,0.4321***,
4,,(0.0019),,(0.0022),
5,"$sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.4579***,,0.4893***
6,,,(0.0023),,(0.0029)
7,"$ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$",,,0.0057,
8,,,,(0.0045),
9,"$ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...",,,,-0.0890***
10,,,,,(0.0048)
11,$N$,281421,227396,281421,227396
12,Adjusted $R^2$,0.19,0.18,0.19,0.18
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

('norm', 'ldavecs', 'No FE', '1995-05')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0537***,-0.0369***,0.0534***,-0.0321***
2,,(0.0031),(0.0033),(0.0031),(0.0033)
3,"$ sim_{LDA}(pc_{i}, pc_{j})$",0.4586***,,0.4529***,
4,,(0.0015),,(0.0018),
5,"$sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.4844***,,0.5065***
6,,,(0.0017),,(0.0021)
7,"$ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$",,,0.0222***,
8,,,,(0.0035),
9,"$ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...",,,,-0.0665***
10,,,,,(0.0036)
11,$N$,438117,383569,438117,383569
12,Adjusted $R^2$,0.21,0.22,0.21,0.22
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

('norm', 'ldavecs', 'No FE', '2005-15')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0363***,-0.0446***,0.0357***,-0.0322***
2,,(0.0029),(0.0030),(0.0027),(0.0028)
3,"$ sim_{LDA}(pc_{i}, pc_{j})$",0.4762***,,0.4751***,
4,,(0.0013),,(0.0015),
5,"$sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.4835***,,0.5012***
6,,,(0.0013),,(0.0016)
7,"$ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$",,,0.0042,
8,,,,(0.0029),
9,"$ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...",,,,-0.0575***
10,,,,,(0.0028)
11,$N$,569947,517333,569947,517333
12,Adjusted $R^2$,0.23,0.24,0.23,0.24
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

('raw', 'docvecs', 'FE', '1975-85')

0                                                       (1)   (2)   (3)   (4)
1                                   $I(MSA \, Match)$
2
3                         $ sim_{DV}(pc_{i}, pc_{j})$
4
5             $ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$
6
7               $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$
8
9   $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$
10
11                                                $N$
12                                     Adjusted $R^2$
13                                            Year FE  True  True  True  True
14                                              PC FE  True  True  True  True

('raw', 'docvecs', 'FE', '1985-95')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0054***,-0.0024***,-0.0064***,-0.0037***
2,,(0.0006),(0.0006),(0.0019),(0.0012)
3,"$ sim_{DV}(pc_{i}, pc_{j})$",0.1748***,,0.1700***,
4,,(0.0017),,(0.0018),
5,"$ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.0933***,,0.0922***
6,,,(0.0014),,(0.0018)
7,"$ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$",,,0.0179***,
8,,,,(0.0029),
9,"$ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,,,0.0028
10,,,,,(0.0025)
11,$N$,281018,227029,281018,227029
12,Adjusted $R^2$,0.11,0.09,0.11,0.09
13,Year FE,True,True,True,True
14,PC FE,True,True,True,True

('raw', 'docvecs', 'FE', '1995-05')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0049***,-0.0031***,-0.0076***,-0.0040***
2,,(0.0004),(0.0005),(0.0015),(0.0010)
3,"$ sim_{DV}(pc_{i}, pc_{j})$",0.1728***,,0.1678***,
4,,(0.0013),,(0.0015),
5,"$ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.1042***,,0.1034***
6,,,(0.0011),,(0.0013)
7,"$ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$",,,0.0184***,
8,,,,(0.0023),
9,"$ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,,,0.0019
10,,,,,(0.0019)
11,$N$,437485,382972,437485,382972
12,Adjusted $R^2$,0.12,0.11,0.12,0.11
13,Year FE,True,True,True,True
14,PC FE,True,True,True,True

('raw', 'docvecs', 'FE', '2005-15')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0044***,-0.0024***,-0.0091***,-0.0066***
2,,(0.0004),(0.0004),(0.0017),(0.0011)
3,"$ sim_{DV}(pc_{i}, pc_{j})$",0.1803***,,0.1751***,
4,,(0.0013),,(0.0015),
5,"$ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.1040***,,0.1015***
6,,,(0.0010),,(0.0012)
7,"$ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$",,,0.0186***,
8,,,,(0.0024),
9,"$ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,,,0.0071***
10,,,,,(0.0017)
11,$N$,569100,516531,569100,516531
12,Adjusted $R^2$,0.09,0.08,0.09,0.08
13,Year FE,True,True,True,True
14,PC FE,True,True,True,True

('raw', 'docvecs', 'No FE', '1975-85')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0035***,-0.0113***,-0.0029,0.0000
2,,(0.0010),(0.0011),(0.0032),(0.0021)
3,"$ sim_{DV}(pc_{i}, pc_{j})$",0.1984***,,0.1960***,
4,,(0.0022),,(0.0025),
5,"$ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.1475***,,0.1570***
6,,,(0.0022),,(0.0028)
7,"$ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$",,,0.0099*,
8,,,,(0.0051),
9,"$ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,,,-0.0249***
10,,,,,(0.0044)
11,$N$,102237,80544,102237,80544
12,Adjusted $R^2$,0.09,0.06,0.09,0.06
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

('raw', 'docvecs', 'No FE', '1985-95')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0048***,-0.0082***,-0.0074***,-0.0017
2,,(0.0006),(0.0006),(0.0019),(0.0012)
3,"$ sim_{DV}(pc_{i}, pc_{j})$",0.1930***,,0.1884***,
4,,(0.0013),,(0.0015),
5,"$ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.1397***,,0.1451***
6,,,(0.0012),,(0.0016)
7,"$ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$",,,0.0186***,
8,,,,(0.0029),
9,"$ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,,,-0.0140***
10,,,,,(0.0025)
11,$N$,281018,227029,281018,227029
12,Adjusted $R^2$,0.09,0.06,0.09,0.06
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

('raw', 'docvecs', 'No FE', '1995-05')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0042***,-0.0086***,-0.0081***,-0.0014
2,,(0.0005),(0.0005),(0.0016),(0.0010)
3,"$ sim_{DV}(pc_{i}, pc_{j})$",0.2021***,,0.1975***,
4,,(0.0010),,(0.0012),
5,"$ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.1512***,,0.1560***
6,,,(0.0009),,(0.0012)
7,"$ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$",,,0.0181***,
8,,,,(0.0023),
9,"$ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,,,-0.0138***
10,,,,,(0.0019)
11,$N$,437485,382972,437485,382972
12,Adjusted $R^2$,0.09,0.08,0.09,0.08
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

('raw', 'docvecs', 'No FE', '2005-15')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0037***,-0.0050***,-0.0114***,-0.0083***
2,,(0.0004),(0.0004),(0.0017),(0.0011)
3,"$ sim_{DV}(pc_{i}, pc_{j})$",0.1991***,,0.1938***,
4,,(0.0011),,(0.0012),
5,"$ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.1259***,,0.1241***
6,,,(0.0008),,(0.0010)
7,"$ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$",,,0.0208***,
8,,,,(0.0024),
9,"$ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,,,0.0055***
10,,,,,(0.0018)
11,$N$,569100,516531,569100,516531
12,Adjusted $R^2$,0.06,0.05,0.06,0.05
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

('raw', 'ldavecs', 'FE', '1975-85')

0                                                       (1)   (2)   (3)   (4)
1                                   $I(MSA \, Match)$
2
3                        $ sim_{LDA}(pc_{i}, pc_{j})$
4
5             $sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$
6
7              $ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$
8
9   $ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...
10
11                                                $N$
12                                     Adjusted $R^2$
13                                            Year FE  True  True  True  True
14                                              PC FE  True  True  True  True

('raw', 'ldavecs', 'FE', '1985-95')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0061***,-0.0092***,0.0038***,0.0044***
2,,(0.0008),(0.0009),(0.0010),(0.0012)
3,"$ sim_{LDA}(pc_{i}, pc_{j})$",0.2331***,,0.2315***,
4,,(0.0013),,(0.0015),
5,"$sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.2509***,,0.2652***
6,,,(0.0016),,(0.0020)
7,"$ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$",,,0.0064***,
8,,,,(0.0025),
9,"$ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...",,,,-0.0389***
10,,,,,(0.0030)
11,$N$,281421,227396,281421,227396
12,Adjusted $R^2$,0.21,0.21,0.21,0.21
13,Year FE,True,True,True,True
14,PC FE,True,True,True,True

('raw', 'ldavecs', 'FE', '1995-05')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0119***,-0.0045***,0.0069***,0.0053***
2,,(0.0007),(0.0007),(0.0008),(0.0009)
3,"$ sim_{LDA}(pc_{i}, pc_{j})$",0.2459***,,0.2423***,
4,,(0.0011),,(0.0012),
5,"$sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.2651***,,0.2743***
6,,,(0.0012),,(0.0015)
7,"$ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$",,,0.0133***,
8,,,,(0.0019),
9,"$ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...",,,,-0.0262***
10,,,,,(0.0022)
11,$N$,438117,383569,438117,383569
12,Adjusted $R^2$,0.24,0.24,0.24,0.25
13,Year FE,True,True,True,True
14,PC FE,True,True,True,True

('raw', 'ldavecs', 'FE', '2005-15')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0079***,-0.0062***,0.0057***,0.0019**
2,,(0.0006),(0.0007),(0.0007),(0.0008)
3,"$ sim_{LDA}(pc_{i}, pc_{j})$",0.2430***,,0.2416***,
4,,(0.0009),,(0.0010),
5,"$sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.2573***,,0.2637***
6,,,(0.0010),,(0.0012)
7,"$ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$",,,0.0051***,
8,,,,(0.0016),
9,"$ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...",,,,-0.0191***
10,,,,,(0.0017)
11,$N$,569947,517333,569947,517333
12,Adjusted $R^2$,0.26,0.27,0.26,0.27
13,Year FE,True,True,True,True
14,PC FE,True,True,True,True

('raw', 'ldavecs', 'No FE', '1975-85')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0069***,-0.0127***,0.0067***,0.0096***
2,,(0.0014),(0.0016),(0.0017),(0.0020)
3,"$ sim_{LDA}(pc_{i}, pc_{j})$",0.2570***,,0.2569***,
4,,(0.0019),,(0.0021),
5,"$sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.3025***,,0.3254***
6,,,(0.0025),,(0.0031)
7,"$ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$",,,0.0006,
8,,,,(0.0044),
9,"$ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...",,,,-0.0659***
10,,,,,(0.0053)
11,$N$,102367,80654,102367,80654
12,Adjusted $R^2$,0.19,0.19,0.19,0.19
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

('raw', 'ldavecs', 'No FE', '1985-95')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0053***,-0.0131***,0.0042***,0.0066***
2,,(0.0009),(0.0009),(0.0010),(0.0012)
3,"$ sim_{LDA}(pc_{i}, pc_{j})$",0.2451***,,0.2443***,
4,,(0.0011),,(0.0013),
5,"$sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.2877***,,0.3074***
6,,,(0.0014),,(0.0018)
7,"$ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$",,,0.0032,
8,,,,(0.0025),
9,"$ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...",,,,-0.0559***
10,,,,,(0.0030)
11,$N$,281421,227396,281421,227396
12,Adjusted $R^2$,0.19,0.18,0.19,0.18
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

('raw', 'ldavecs', 'No FE', '1995-05')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0119***,-0.0082***,0.0072***,0.0075***
2,,(0.0007),(0.0007),(0.0008),(0.0009)
3,"$ sim_{LDA}(pc_{i}, pc_{j})$",0.2593***,,0.2561***,
4,,(0.0009),,(0.0010),
5,"$sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.3043***,,0.3182***
6,,,(0.0011),,(0.0013)
7,"$ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$",,,0.0126***,
8,,,,(0.0020),
9,"$ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...",,,,-0.0418***
10,,,,,(0.0022)
11,$N$,438117,383569,438117,383569
12,Adjusted $R^2$,0.21,0.22,0.21,0.22
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

('raw', 'ldavecs', 'No FE', '2005-15')

,,,,,
0,,(1),(2),(3),(4)
1,"$I(MSA \, Match)$",0.0081***,-0.0099***,0.0070***,0.0055***
2,,(0.0006),(0.0007),(0.0007),(0.0008)
3,"$ sim_{LDA}(pc_{i}, pc_{j})$",0.2693***,,0.2686***,
4,,(0.0007),,(0.0008),
5,"$sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$",,0.3038***,,0.3149***
6,,,(0.0008),,(0.0010)
7,"$ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$",,,0.0024,
8,,,,(0.0016),
9,"$ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_...",,,,-0.0362***
10,,,,,(0.0018)
11,$N$,569947,517333,569947,517333
12,Adjusted $R^2$,0.23,0.24,0.23,0.24
13,Year FE,True,True,True,True
14,PC FE,False,False,False,False

In [81]:
def conv_latex(l, title, ncols = 8):
    l = ' '.join(l.split())
    l = l.replace("\\toprule \\\ \\midrule ",\
                  "\\toprule \multicolumn{"+str(ncols)+"}{c}{"+title+"} \\\ \hline ")
#     l = l.replace(" & &", " & ")
    l = l.replace(" & \\\ ", " \\\ ")
    l = l.replace("(4) \\", "(4) \\\ \midrule  ")
    return l

for k,v in tabp.items():
    print("\n"+str(k)+"\n"+"\n")
    ncols = len(v.columns)
    with pd.option_context("max_colwidth", 1000):
        print(conv_latex(v.to_latex(index=False,escape=False, column_format="lcccccccc"),
                        title = k[-1],
                        ncols = ncols))

('norm', 'docvecs', 'FE', '1975-85')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1975-85} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & & & \\ & & & \\ $ sim_{DV}(pc_{i}, pc_{j})$ & & & \\ & & & \\ $sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & \\ & & & \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & \\ & & & \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & \\ & & & \\ $N$ & & & \\ Adjusted $R^2$ & & & \\ Year FE & True & True & True & True \\ PC FE & True & True & True & True \\ \bottomrule \end{tabular}

('norm', 'docvecs', 'FE', '1985-95')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1985-95} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0399*** & -0.0177*** & 0.0434*** & -0.0169*** \\ & (0.0042) & (0.0047) & (0.0043) & (0.0049) \\ $ sim_{DV}(pc_{i}, pc_{j})$ & 0.2475*** & & 0.2408*** \\ & (0.0024) & & (0.0026) \\ $sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.1719*** & & 0.1698*** \\ & & (0.0026) & & (0.0033) \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & 0.0254*** \\ & & & (0.0041) \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & 0.0051 \\ & & & & (0.0046) \\ $N$ & 281018 & 227029 & 281018 & 227029 \\ Adjusted $R^2$ & 0.11 & 0.09 & 0.11 & 0.09 \\ Year FE & True & True & True & True \\ PC FE & True & True & True & True \\ \bottomrule \end{tabular}

('norm', 'docvecs', 'FE', '1995-05')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1995-05} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0360*** & -0.0226*** & 0.0371*** & -0.0228*** \\ & (0.0033) & (0.0036) & (0.0033) & (0.0036) \\ $ sim_{DV}(pc_{i}, pc_{j})$ & 0.2448*** & & 0.2377*** \\ & (0.0019) & & (0.0021) \\ $sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.1919*** & & 0.1905*** \\ & & (0.0020) & & (0.0024) \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & 0.0261*** \\ & & & (0.0033) \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & 0.0035 \\ & & & & (0.0035) \\ $N$ & 437485 & 382972 & 437485 & 382972 \\ Adjusted $R^2$ & 0.12 & 0.11 & 0.12 & 0.11 \\ Year FE & True & True & True & True \\ PC FE & True & True & True & True \\ \bottomrule \end{tabular}

('norm', 'docvecs', 'FE', '2005-15')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{2005-15} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0327*** & -0.0175*** & 0.0266*** & -0.0228*** \\ & (0.0030) & (0.0032) & (0.0030) & (0.0033) \\ $ sim_{DV}(pc_{i}, pc_{j})$ & 0.2553*** & & 0.2481*** \\ & (0.0019) & & (0.0021) \\ $sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.1916*** & & 0.1870*** \\ & & (0.0018) & & (0.0021) \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & 0.0263*** \\ & & & (0.0034) \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & 0.0132*** \\ & & & & (0.0032) \\ $N$ & 569100 & 516531 & 569100 & 516531 \\ Adjusted $R^2$ & 0.09 & 0.08 & 0.09 & 0.08 \\ Year FE & True & True & True & True \\ PC FE & True & True & True & True \\ \bottomrule \end{tabular}

('norm', 'docvecs', 'No FE', '1975-85')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1975-85} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0263*** & -0.0837*** & 0.0290*** & -0.0916*** \\ & (0.0071) & (0.0081) & (0.0076) & (0.0085) \\ $ sim_{DV}(pc_{i}, pc_{j})$ & 0.2810*** & & 0.2776*** \\ & (0.0031) & & (0.0035) \\ $sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.2718*** & & 0.2892*** \\ & & (0.0040) & & (0.0051) \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & 0.0141* \\ & & & (0.0072) \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & -0.0459*** \\ & & & & (0.0082) \\ $N$ & 102237 & 80544 & 102237 & 80544 \\ Adjusted $R^2$ & 0.09 & 0.06 & 0.09 & 0.06 \\ Year FE & True & True & True & True \\ PC FE & False & False & False & False \\ \bottomrule \end{tabular}

('norm', 'docvecs', 'No FE', '1985-95')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1985-95} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0357*** & -0.0609*** & 0.0393*** & -0.0644*** \\ & (0.0042) & (0.0047) & (0.0044) & (0.0049) \\ $ sim_{DV}(pc_{i}, pc_{j})$ & 0.2733*** & & 0.2668*** \\ & (0.0018) & & (0.0021) \\ $sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.2573*** & & 0.2673*** \\ & & (0.0023) & & (0.0029) \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & 0.0264*** \\ & & & (0.0042) \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & -0.0258*** \\ & & & & (0.0046) \\ $N$ & 281018 & 227029 & 281018 & 227029 \\ Adjusted $R^2$ & 0.09 & 0.06 & 0.09 & 0.06 \\ Year FE & True & True & True & True \\ PC FE & False & False & False & False \\ \bottomrule \end{tabular}

('norm', 'docvecs', 'No FE', '1995-05')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1995-05} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0309*** & -0.0637*** & 0.0319*** & -0.0616*** \\ & (0.0033) & (0.0036) & (0.0034) & (0.0036) \\ $ sim_{DV}(pc_{i}, pc_{j})$ & 0.2863*** & & 0.2798*** \\ & (0.0014) & & (0.0017) \\ $sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.2785*** & & 0.2875*** \\ & & (0.0017) & & (0.0021) \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & 0.0256*** \\ & & & (0.0033) \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & -0.0255*** \\ & & & & (0.0035) \\ $N$ & 437485 & 382972 & 437485 & 382972 \\ Adjusted $R^2$ & 0.09 & 0.08 & 0.09 & 0.08 \\ Year FE & True & True & True & True \\ PC FE & False & False & False & False \\ \bottomrule \end{tabular}

('norm', 'docvecs', 'No FE', '2005-15')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{2005-15} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0276*** & -0.0369*** & 0.0208*** & -0.0411*** \\ & (0.0030) & (0.0032) & (0.0030) & (0.0033) \\ $ sim_{DV}(pc_{i}, pc_{j})$ & 0.2821*** & & 0.2745*** \\ & (0.0015) & & (0.0017) \\ $sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.2319*** & & 0.2286*** \\ & & (0.0015) & & (0.0019) \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & 0.0294*** \\ & & & (0.0034) \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & 0.0101*** \\ & & & & (0.0032) \\ $N$ & 569100 & 516531 & 569100 & 516531 \\ Adjusted $R^2$ & 0.06 & 0.05 & 0.06 & 0.05 \\ Year FE & True & True & True & True \\ PC FE & False & False & False & False \\ \bottomrule \end{tabular}

('norm', 'ldavecs', 'FE', '1975-85')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1975-85} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & & & \\ & & & \\ $ sim_{LDA}(pc_{i}, pc_{j})$ & & & \\ & & & \\ $sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & \\ & & & \\ $ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$ & & & \\ & & & \\ $ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & \\ & & & \\ $N$ & & & \\ Adjusted $R^2$ & & & \\ Year FE & True & True & True & True \\ PC FE & True & True & True & True \\ \bottomrule \end{tabular}

('norm', 'ldavecs', 'FE', '1985-95')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1985-95} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0274*** & -0.0415*** & 0.0280*** & -0.0412*** \\ & (0.0038) & (0.0042) & (0.0039) & (0.0042) \\ $ sim_{LDA}(pc_{i}, pc_{j})$ & 0.4123*** & & 0.4094*** \\ & (0.0023) & & (0.0026) \\ $sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.3994*** & & 0.4221*** \\ & & (0.0026) & & (0.0031) \\ $ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$ & & & 0.0114*** \\ & & & (0.0044) \\ $ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & -0.0619*** \\ & & & & (0.0047) \\ $N$ & 281421 & 227396 & 281421 & 227396 \\ Adjusted $R^2$ & 0.21 & 0.21 & 0.21 & 0.21 \\ Year FE & True & True & True & True \\ PC FE & True & True & True & True \\ \bottomrule \end{tabular}

('norm', 'ldavecs', 'FE', '1995-05')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1995-05} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0535*** & -0.0202*** & 0.0533*** & -0.0174*** \\ & (0.0031) & (0.0033) & (0.0031) & (0.0032) \\ $ sim_{LDA}(pc_{i}, pc_{j})$ & 0.4349*** & & 0.4286*** \\ & (0.0019) & & (0.0021) \\ $sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.4219*** & & 0.4366*** \\ & & (0.0019) & & (0.0023) \\ $ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$ & & & 0.0234*** \\ & & & (0.0034) \\ $ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & -0.0417*** \\ & & & & (0.0035) \\ $N$ & 438117 & 383569 & 438117 & 383569 \\ Adjusted $R^2$ & 0.24 & 0.24 & 0.24 & 0.25 \\ Year FE & True & True & True & True \\ PC FE & True & True & True & True \\ \bottomrule \end{tabular}

('norm', 'ldavecs', 'FE', '2005-15')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{2005-15} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0356*** & -0.0279*** & 0.0343*** & -0.0215*** \\ & (0.0028) & (0.0029) & (0.0027) & (0.0028) \\ $ sim_{LDA}(pc_{i}, pc_{j})$ & 0.4299*** & & 0.4274*** \\ & (0.0016) & & (0.0018) \\ $sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.4096*** & & 0.4197*** \\ & & (0.0016) & & (0.0019) \\ $ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$ & & & 0.0090*** \\ & & & (0.0028) \\ $ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & -0.0304*** \\ & & & & (0.0028) \\ $N$ & 569947 & 517333 & 569947 & 517333 \\ Adjusted $R^2$ & 0.26 & 0.27 & 0.26 & 0.27 \\ Year FE & True & True & True & True \\ PC FE & True & True & True & True \\ \bottomrule \end{tabular}

('norm', 'ldavecs', 'No FE', '1975-85')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1975-85} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0312*** & -0.0571*** & 0.0313*** & -0.0603*** \\ & (0.0065) & (0.0072) & (0.0067) & (0.0073) \\ $ sim_{LDA}(pc_{i}, pc_{j})$ & 0.4546*** & & 0.4544*** \\ & (0.0033) & & (0.0038) \\ $sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.4814*** & & 0.5180*** \\ & & (0.0040) & & (0.0049) \\ $ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$ & & & 0.0010 \\ & & & (0.0077) \\ $ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & -0.1050*** \\ & & & & (0.0084) \\ $N$ & 102367 & 80654 & 102367 & 80654 \\ Adjusted $R^2$ & 0.19 & 0.19 & 0.19 & 0.19 \\ Year FE & True & True & True & True \\ PC FE & False & False & False & False \\ \bottomrule \end{tabular}

('norm', 'ldavecs', 'No FE', '1985-95')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1985-95} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0240*** & -0.0590*** & 0.0243*** & -0.0583*** \\ & (0.0038) & (0.0042) & (0.0039) & (0.0042) \\ $ sim_{LDA}(pc_{i}, pc_{j})$ & 0.4335*** & & 0.4321*** \\ & (0.0019) & & (0.0022) \\ $sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.4579*** & & 0.4893*** \\ & & (0.0023) & & (0.0029) \\ $ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$ & & & 0.0057 \\ & & & (0.0045) \\ $ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & -0.0890*** \\ & & & & (0.0048) \\ $N$ & 281421 & 227396 & 281421 & 227396 \\ Adjusted $R^2$ & 0.19 & 0.18 & 0.19 & 0.18 \\ Year FE & True & True & True & True \\ PC FE & False & False & False & False \\ \bottomrule \end{tabular}

('norm', 'ldavecs', 'No FE', '1995-05')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1995-05} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0537*** & -0.0369*** & 0.0534*** & -0.0321*** \\ & (0.0031) & (0.0033) & (0.0031) & (0.0033) \\ $ sim_{LDA}(pc_{i}, pc_{j})$ & 0.4586*** & & 0.4529*** \\ & (0.0015) & & (0.0018) \\ $sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.4844*** & & 0.5065*** \\ & & (0.0017) & & (0.0021) \\ $ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$ & & & 0.0222*** \\ & & & (0.0035) \\ $ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & -0.0665*** \\ & & & & (0.0036) \\ $N$ & 438117 & 383569 & 438117 & 383569 \\ Adjusted $R^2$ & 0.21 & 0.22 & 0.21 & 0.22 \\ Year FE & True & True & True & True \\ PC FE & False & False & False & False \\ \bottomrule \end{tabular}

('norm', 'ldavecs', 'No FE', '2005-15')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{2005-15} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0363*** & -0.0446*** & 0.0357*** & -0.0322*** \\ & (0.0029) & (0.0030) & (0.0027) & (0.0028) \\ $ sim_{LDA}(pc_{i}, pc_{j})$ & 0.4762*** & & 0.4751*** \\ & (0.0013) & & (0.0015) \\ $sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.4835*** & & 0.5012*** \\ & & (0.0013) & & (0.0016) \\ $ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$ & & & 0.0042 \\ & & & (0.0029) \\ $ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & -0.0575*** \\ & & & & (0.0028) \\ $N$ & 569947 & 517333 & 569947 & 517333 \\ Adjusted $R^2$ & 0.23 & 0.24 & 0.23 & 0.24 \\ Year FE & True & True & True & True \\ PC FE & False & False & False & False \\ \bottomrule \end{tabular}

('raw', 'docvecs', 'FE', '1975-85')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1975-85} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & & & \\ & & & \\ $ sim_{DV}(pc_{i}, pc_{j})$ & & & \\ & & & \\ $ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & \\ & & & \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & \\ & & & \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & \\ & & & \\ $N$ & & & \\ Adjusted $R^2$ & & & \\ Year FE & True & True & True & True \\ PC FE & True & True & True & True \\ \bottomrule \end{tabular}

('raw', 'docvecs', 'FE', '1985-95')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1985-95} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0054*** & -0.0024*** & -0.0064*** & -0.0037*** \\ & (0.0006) & (0.0006) & (0.0019) & (0.0012) \\ $ sim_{DV}(pc_{i}, pc_{j})$ & 0.1748*** & & 0.1700*** \\ & (0.0017) & & (0.0018) \\ $ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.0933*** & & 0.0922*** \\ & & (0.0014) & & (0.0018) \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & 0.0179*** \\ & & & (0.0029) \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & 0.0028 \\ & & & & (0.0025) \\ $N$ & 281018 & 227029 & 281018 & 227029 \\ Adjusted $R^2$ & 0.11 & 0.09 & 0.11 & 0.09 \\ Year FE & True & True & True & True \\ PC FE & True & True & True & True \\ \bottomrule \end{tabular}

('raw', 'docvecs', 'FE', '1995-05')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1995-05} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0049*** & -0.0031*** & -0.0076*** & -0.0040*** \\ & (0.0004) & (0.0005) & (0.0015) & (0.0010) \\ $ sim_{DV}(pc_{i}, pc_{j})$ & 0.1728*** & & 0.1678*** \\ & (0.0013) & & (0.0015) \\ $ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.1042*** & & 0.1034*** \\ & & (0.0011) & & (0.0013) \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & 0.0184*** \\ & & & (0.0023) \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & 0.0019 \\ & & & & (0.0019) \\ $N$ & 437485 & 382972 & 437485 & 382972 \\ Adjusted $R^2$ & 0.12 & 0.11 & 0.12 & 0.11 \\ Year FE & True & True & True & True \\ PC FE & True & True & True & True \\ \bottomrule \end{tabular}

('raw', 'docvecs', 'FE', '2005-15')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{2005-15} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0044*** & -0.0024*** & -0.0091*** & -0.0066*** \\ & (0.0004) & (0.0004) & (0.0017) & (0.0011) \\ $ sim_{DV}(pc_{i}, pc_{j})$ & 0.1803*** & & 0.1751*** \\ & (0.0013) & & (0.0015) \\ $ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.1040*** & & 0.1015*** \\ & & (0.0010) & & (0.0012) \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & 0.0186*** \\ & & & (0.0024) \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & 0.0071*** \\ & & & & (0.0017) \\ $N$ & 569100 & 516531 & 569100 & 516531 \\ Adjusted $R^2$ & 0.09 & 0.08 & 0.09 & 0.08 \\ Year FE & True & True & True & True \\ PC FE & True & True & True & True \\ \bottomrule \end{tabular}

('raw', 'docvecs', 'No FE', '1975-85')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1975-85} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0035*** & -0.0113*** & -0.0029 & 0.0000 \\ & (0.0010) & (0.0011) & (0.0032) & (0.0021) \\ $ sim_{DV}(pc_{i}, pc_{j})$ & 0.1984*** & & 0.1960*** \\ & (0.0022) & & (0.0025) \\ $ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.1475*** & & 0.1570*** \\ & & (0.0022) & & (0.0028) \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & 0.0099* \\ & & & (0.0051) \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & -0.0249*** \\ & & & & (0.0044) \\ $N$ & 102237 & 80544 & 102237 & 80544 \\ Adjusted $R^2$ & 0.09 & 0.06 & 0.09 & 0.06 \\ Year FE & True & True & True & True \\ PC FE & False & False & False & False \\ \bottomrule \end{tabular}

('raw', 'docvecs', 'No FE', '1985-95')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1985-95} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0048*** & -0.0082*** & -0.0074*** & -0.0017 \\ & (0.0006) & (0.0006) & (0.0019) & (0.0012) \\ $ sim_{DV}(pc_{i}, pc_{j})$ & 0.1930*** & & 0.1884*** \\ & (0.0013) & & (0.0015) \\ $ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.1397*** & & 0.1451*** \\ & & (0.0012) & & (0.0016) \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & 0.0186*** \\ & & & (0.0029) \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & -0.0140*** \\ & & & & (0.0025) \\ $N$ & 281018 & 227029 & 281018 & 227029 \\ Adjusted $R^2$ & 0.09 & 0.06 & 0.09 & 0.06 \\ Year FE & True & True & True & True \\ PC FE & False & False & False & False \\ \bottomrule \end{tabular}

('raw', 'docvecs', 'No FE', '1995-05')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1995-05} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0042*** & -0.0086*** & -0.0081*** & -0.0014 \\ & (0.0005) & (0.0005) & (0.0016) & (0.0010) \\ $ sim_{DV}(pc_{i}, pc_{j})$ & 0.2021*** & & 0.1975*** \\ & (0.0010) & & (0.0012) \\ $ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.1512*** & & 0.1560*** \\ & & (0.0009) & & (0.0012) \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & 0.0181*** \\ & & & (0.0023) \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & -0.0138*** \\ & & & & (0.0019) \\ $N$ & 437485 & 382972 & 437485 & 382972 \\ Adjusted $R^2$ & 0.09 & 0.08 & 0.09 & 0.08 \\ Year FE & True & True & True & True \\ PC FE & False & False & False & False \\ \bottomrule \end{tabular}

('raw', 'docvecs', 'No FE', '2005-15')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{2005-15} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & 0.0037*** & -0.0050*** & -0.0114*** & -0.0083*** \\ & (0.0004) & (0.0004) & (0.0017) & (0.0011) \\ $ sim_{DV}(pc_{i}, pc_{j})$ & 0.1991*** & & 0.1938*** \\ & (0.0011) & & (0.0012) \\ $ sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & 0.1259*** & & 0.1241*** \\ & & (0.0008) & & (0.0010) \\ $ I_{MSA} * sim_{DV}(pc_{i}, pc_{j})$ & & & 0.0208*** \\ & & & (0.0024) \\ $ I_{MSA} * sim_{DV}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & & 0.0055*** \\ & & & & (0.0018) \\ $N$ & 569100 & 516531 & 569100 & 516531 \\ Adjusted $R^2$ & 0.06 & 0.05 & 0.06 & 0.05 \\ Year FE & True & True & True & True \\ PC FE & False & False & False & False \\ \bottomrule \end{tabular}

('raw', 'ldavecs', 'FE', '1975-85')


\begin{tabular}{lcccccccc} \toprule \multicolumn{5}{c}{1975-85} \\ \hline & (1) & (2) & (3) & (4) \\ \midrule  \ $I(MSA \, Match)$ & & & \\ & & & \\ $ sim_{LDA}(pc_{i}, pc_{j})$ & & & \\ & & & \\ $sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & \\ & & & \\ $ I_{MSA} * sim_{LDA}(pc_{i}, pc_{j})$ & & & \\ & & & \\ $ I_{MSA} * sim_{LDA}(pc_{i,MSA_i}, pc_{j,MSA_j})$ & & & \\ & & & \\ $N$ & & & \\ Adjusted $R^2$ & & & \\ Year FE & True & True & True & True \\ PC FE & True & True & True & True \\ \bottomrule \end{tabular}

('raw', 'ldavecs', 'FE', '1985-95')

