In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import timeit
import datetime
import pprint
import itertools
import pickle
import sklearn
import dask
import dask.dataframe as dd
import dask.array as da
import os
os.chdir('/mnt/t48/bighomes-active/sfeng/patentdiffusion/')
import fastparquet
seed = 3
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [2]:
pdf = fastparquet.ParquetFile("RawData/Cleaned/patent_loc_unique_us_0628.parq")\
.to_pandas()
dup_pats = pd.read_pickle("RawData/Cleaned/duplicate_pattext_0712.pkl").tolist()
# Get relevant US Patents
pdf = pdf.loc[~pdf["patent"].isin(dup_pats)]
# Add MSA subfield
pdf["msa_pc"] = list(zip(pdf["inv_msa"], pdf["primclass"]))

In [14]:
# Get number of primary class patents by MSA, and year of their first appearance
p2 = pdf.groupby(["inv_msa", "primclass"]).size()
# Only get primary classes with more than 50 patents
p2 = p2.loc[p2 >= 50].reset_index().rename(columns={0:"size"})
# Date of first appearance
p3 = pdf[["inv_msa", "primclass", "gyear"]].sort_values(["inv_msa", "primclass", "gyear"]).drop_duplicates(["inv_msa", "primclass"])
# Merge
p2 = p2.merge(p3, how="left", on=["inv_msa", "primclass"]).rename(columns={"gyear": "first_gyear"})

# New technology fields after 1990
p3 = p2.loc[p2["first_gyear"] >= 1990]

# Subfield
p3["msa_pc"] = list(zip(p3["inv_msa"], p3["primclass"]))

# Add 5 years to first grant year
p3["first_gyear_5"] = p3["first_gyear"]+5

/homedir/eco/sfeng/bigdata/python/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/homedir/eco/sfeng/bigdata/python/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
p3

,inv_msa,primclass,size,first_gyear,msa_pc,first_gyear_5,year_group
110,"Albany-Schenectady-Troy, NY",705.0,61,1997,"(Albany-Schenectady-Troy, NY, 705.0)",2002,2000-05
132,"Algona, IA",800.0,57,1992,"(Algona, IA, 800.0)",1997,1995-00
180,"Ames, IA",800.0,221,1991,"(Ames, IA, 800.0)",1996,1995-00
211,"Ann Arbor, MI",385.0,69,1992,"(Ann Arbor, MI, 385.0)",1997,1995-00
240,"Arkadelphia, AR",418.0,57,1998,"(Arkadelphia, AR, 418.0)",2003,2000-05
247,"Atlanta-Sandy Springs-Marietta, GA",1.0,102,1993,"(Atlanta-Sandy Springs-Marietta, GA, 1.0)",1998,1995-00
264,"Atlanta-Sandy Springs-Marietta, GA",124.0,50,1990,"(Atlanta-Sandy Springs-Marietta, GA, 124.0)",1995,1995-00
317,"Atlanta-Sandy Springs-Marietta, GA",382.0,124,1990,"(Atlanta-Sandy Springs-Marietta, GA, 382.0)",1995,1995-00
359,"Atlanta-Sandy Springs-Marietta, GA",707.0,189,1992,"(Atlanta-Sandy Springs-Marietta, GA, 707.0)",1997,1995-00
360,"Atlanta-Sandy Springs-Marietta, GA",709.0,596,1992,"(Atlanta-Sandy Springs-Marietta, GA, 709.0)",1997,1995-00
368,"Atlanta-Sandy Springs-Marietta, GA",726.0,229,1999,"(Atlanta-Sandy Springs-Marietta, GA, 726.0)",2004,2000-05
388,"Austin-Round Rock-San Marcos, TX",320.0,69,1994,"(Austin-Round Rock-San Marcos, TX, 320.0)",1999,1995-00
399,"Austin-Round Rock-San Marcos, TX",353.0,52,1990,"(Austin-Round Rock-San Marcos, TX, 353.0)",1995,1995-00
402,"Austin-Round Rock-San Marcos, TX",359.0,79,1990,"(Austin-Round Rock-San Marcos, TX, 359.0)",1995,1995-00
410,"Austin-Round Rock-San Marcos, TX",380.0,80,1990,"(Austin-Round Rock-San Marcos, TX, 380.0)",1995,1995-00
419,"Austin-Round Rock-San Marcos, TX",430.0,151,1990,"(Austin-Round Rock-San Marcos, TX, 430.0)",1995,1995-00
425,"Austin-Round Rock-San Marcos, TX",463.0,113,1996,"(Austin-Round Rock-San Marcos, TX, 463.0)",2001,2000-05
453,"Austin-Round Rock-San Marcos, TX",716.0,570,1993,"(Austin-Round Rock-San Marcos, TX, 716.0)",1998,1995-00
457,"Austin-Round Rock-San Marcos, TX",725.0,160,1996,"(Austin-Round Rock-San Marcos, TX, 725.0)",2001,2000-05
458,"Austin-Round Rock-San Marcos, TX",726.0,499,1992,"(Austin-Round Rock-San Marcos, TX, 726.0)",1997,1995-00
542,"Baltimore-Towson, MD",713.0,64,1994,"(Baltimore-Towson, MD, 713.0)",1999,1995-00
598,"Binghamton, NY",705.0,51,1996,"(Binghamton, NY, 705.0)",2001,2000-05
599,"Binghamton, NY",709.0,72,1991,"(Binghamton, NY, 709.0)",1996,1995-00
609,"Bloomington, IN",623.0,113,1996,"(Bloomington, IN, 623.0)",2001,2000-05
611,"Bloomington-Normal, IL",800.0,90,1996,"(Bloomington-Normal, IL, 800.0)",2001,2000-05
613,"Boise City-Nampa, ID",118.0,60,1995,"(Boise City-Nampa, ID, 118.0)",2000,2000-05
617,"Boise City-Nampa, ID",216.0,93,1991,"(Boise City-Nampa, ID, 216.0)",1996,1995-00
624,"Boise City-Nampa, ID",326.0,110,1990,"(Boise City-Nampa, ID, 326.0)",1995,1995-00
627,"Boise City-Nampa, ID",345.0,109,1992,"(Boise City-Nampa, ID, 345.0)",1997,1995-00
630,"Boise City-Nampa, ID",358.0,447,1990,"(Boise City-Nampa, ID, 358.0)",1995,1995-00
...,...,...,...,...,...,...,...
5517,"Santa Rosa-Petaluma, CA",370.0,144,1993,"(Santa Rosa-Petaluma, CA, 370.0)",1998,1995-00
5519,"Santa Rosa-Petaluma, CA",623.0,113,1998,"(Santa Rosa-Petaluma, CA, 623.0)",2003,2000-05
5521,"Scranton--Wilkes-Barre, PA",174.0,94,1995,"(Scranton--Wilkes-Barre, PA, 174.0)",2000,2000-05
5591,"Seattle-Tacoma-Bellevue, WA",358.0,157,1990,"(Seattle-Tacoma-Bellevue, WA, 358.0)",1995,1995-00
5606,"Seattle-Tacoma-Bellevue, WA",386.0,68,1990,"(Seattle-Tacoma-Bellevue, WA, 386.0)",1995,1995-00
5642,"Seattle-Tacoma-Bellevue, WA",705.0,1079,1991,"(Seattle-Tacoma-Bellevue, WA, 705.0)",1996,1995-00
5643,"Seattle-Tacoma-Bellevue, WA",706.0,351,1991,"(Seattle-Tacoma-Bellevue, WA, 706.0)",1996,1995-00
5644,"Seattle-Tacoma-Bellevue, WA",707.0,2038,1995,"(Seattle-Tacoma-Bellevue, WA, 707.0)",2000,2000-05
5657,"Seattle-Tacoma-Bellevue, WA",726.0,1119,1993,"(Seattle-Tacoma-Bellevue, WA, 726.0)",1998,1995-00
5659,"Shelby Township, MI",280.0,53,1993,"(Shelby Township, MI, 280.0)",1998,1995-00
5669,"Spicer, MN",800.0,75,1996,"(Spicer, MN, 800.0)",2001,2000-05
5711,"St. Louis, MO-IL",800.0,205,1992,"(St. Louis, MO-IL, 800.0)",1997,1995-00
5712,"Sullivan, IL",60.0,54,1998,"(Sullivan, IL, 60.0)",2003,2000-05
5717,"Syracuse, NY",235.0,146,1993,"(Syracuse, NY, 235.0)",1998,1995-00
5754,"Tampa-St. Petersburg-Clearwater, FL",382.0,55,1995,"(Tampa-St. Petersburg-Clearwater, FL, 382.0)",2000,2000-05
5771,"Taylorville, IL",800.0,53,1996,"(Taylorville, IL, 800.0)",2001,2000-05
5835,"Trenton-Ewing, NJ",725.0,72,2001,"(Trenton-Ewing, NJ, 725.0)",2006,2005-10
5838,"Tucson, AZ",102.0,61,1991,"(Tucson, AZ, 102.0)",1996,1995-00
5856,"Tucson, AZ",370.0,60,2000,"(Tucson, AZ, 370.0)",2005,2005-10
5866,"Tucson, AZ",700.0,69,1994,"(Tucson, AZ, 700.0)",1999,1995-00
5867,"Tucson, AZ",701.0,61,1990,"(Tucson, AZ, 701.0)",1995,1995-00
5868,"Tucson, AZ",707.0,150,1995,"(Tucson, AZ, 707.0)",2000,2000-05
5869,"Tucson, AZ",709.0,142,1990,"(Tucson, AZ, 709.0)",1995,1995-00
5874,"Tucson, AZ",717.0,56,1996,"(Tucson, AZ, 717.0)",2001,2000-05
5890,"Vineland-Millville-Bridgeton, NJ",370.0,55,1993,"(Vineland-Millville-Bridgeton, NJ, 370.0)",1998,1995-00
6014,"Washington-Arlington-Alexandria, DC-VA-MD-WV",707.0,223,1993,"(Washington-Arlington-Alexandria, DC-VA-MD-WV,...",1998,1995-00
6034,"Wichita, KS",714.0,75,1990,"(Wichita, KS, 714.0)",1995,1995-00
6035,"Williamsburg, IA",800.0,92,1991,"(Williamsburg, IA, 800.0)",1996,1995-00
6037,"Wilmington, NC",376.0,50,1991,"(Wilmington, NC, 376.0)",1996,1995-00
6065,"Worcester, MA",707.0,61,2000,"(Worcester, MA, 707.0)",2005,2005-10

In [15]:
# Primary class random sample
ns = fastparquet.ParquetFile("DataStore/2018-07-P2/Reg0726/reg_naics_name_sim_tr_0726.parq").to_pandas()
ns["op_msa_pc"] = list(zip(ns["op_inv_msa"], ns["op_primclass"]))
ns["tp_msa_pc"] = list(zip(ns["tp_inv_msa"], ns["tp_primclass"]))
ns = ns.loc[ns["tp_msa_pc"].isin(p3["msa_pc"])]

In [18]:
# All
ns[["norm_sim_docvecs", "norm_sim_mean_docvecs_pc", "norm_sim_mean_docvecs_pc_msa", 
    "inv_msa_match", "primclass_match"]].groupby(["inv_msa_match", "primclass_match"]).mean()

                               norm_sim_docvecs  norm_sim_mean_docvecs_pc  \
inv_msa_match primclass_match
False         False                   -0.029764                 -0.040592
              True                     0.387873                  1.687828
True          False                    0.017407                  0.068526
              True                     0.617755                  1.687828

                               norm_sim_mean_docvecs_pc_msa
inv_msa_match primclass_match
False         False                                0.093861
              True                                 1.235009
True          False                                0.318236
              True                                 2.035944

In [19]:
# Similar subfields
ns.loc[(ns["norm_sim_mean_docvecs_pc_msa"] >= 1.5), ["norm_sim_docvecs", "norm_sim_mean_docvecs_pc", "norm_sim_mean_docvecs_pc_msa", 
    "inv_msa_match", "primclass_match"]].groupby(["inv_msa_match", "primclass_match"]).mean()

                               norm_sim_docvecs  norm_sim_mean_docvecs_pc  \
inv_msa_match primclass_match
False         False                    0.419753                  1.133701
              True                     0.406325                  1.687828
True          False                    0.570939                  1.066852
              True                     0.620576                  1.687828

                               norm_sim_mean_docvecs_pc_msa
inv_msa_match primclass_match
False         False                                1.570899
              True                                 1.723883
True          False                                1.608456
              True                                 2.035944